%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '/index.html', :class => 'navbar-brand' do
        Hayley Lauren
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li{ nav_active('index.html') }
          = link_to '/index.html' do
            Home
        %li{ nav_active('about.html') }
          = link_to '/about.html' do
            About
        %li{ nav_active('work.html') }
          = link_to '/work.html' do
            Work
        %li{ nav_active('collab.html') }
          = link_to '/collab.html' do
            Collab
        %li{ nav_active('blog.html') }
          = link_to '/blog.html' do
            Blog
        %li{ nav_active('contact.html') }
          = link_to '/contact.html' do
            Contact
